.contenido_principal {
  padding-top: 75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: url('./assets/images/fondo4.png') no-repeat;
  display: flex;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 1px;
}