.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 20px 5%;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: 0.2px solid rgba(255,255,255,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Logo {
    width: 60px;
    height: auto;
}

.navbar {
    display: flex;
    gap: 40px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Botón de hamburguesa */
.navbar-toggle {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        transition: height 0.3s ease;
    }

    .navbar.open {
        height: 355px;
    }

    .navbar a {
        margin: 0px 0;
    }

    .navbar-toggle {
        display: block;
    }
}
