body {
    justify-content: space-around;
    align-items: center;
}


.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  padding: 40px;
}

.contenedor .producto {
  background-color: white;
  border: 2px solid rgba(255,255,255,.1); 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  padding: 25px;
  margin: 15px;
  width: 200px;
  flex:none; 
}